.header {
  &--outer {
    background-color: $bg-medium;
  }
}

.import {
  @extend %container-fixed;

  &--outer {
    background-color: $bg-lighter;
  }
  &--heading {
    @extend %heading-section;
    font-size: $font-size-larger;
  }
}
.filter {
  @extend %container-fixed;

  &--outer {
    background-color: $bg-accent-wash;
  }
  &--heading {
    @extend %heading-section;
    font-size: $font-size-larger;
  }
}
.data {
  &--heading {
    @extend %heading-section;
    font-size: $font-size-huge;
  }
}
.contact {
  border-color: $bg-lighter;
  line-height: 2rem;
  background-color: rgba($bg-accent-wash, 0.3);
  border-radius: 5px;

  @media #{$large-up} {
    background-color: transparent;
  }
  //person > name, company
  &--person {
    border-color: $text-lighter;
  }
  &--name {
    @extend %heading;
    font-size: $font-size-larger;
  }
  // details > email, phone
  &--details {
    line-height: $line-height-baseline;

    @media #{$large-up} {
      line-height: 2rem;
    }
  }
  &--email {
  }
  &--email-link {
    color: $accent-secondary;
    text-decoration: none;
    @media #{$large-up} {
      position: relative;
      top: 3px; // magic number-esque hack to maintain cross-typeface vertical rhythm
    }

    &:hover {
      text-decoration: underline;
    }
  }
  .delete-contact {
    // Large+ the word "delete" is displayed
    // otherwise just an "X" icon
    background-color: $accent-secondary;
    border-radius: 50%;
    color: $text-lightest;
    text-decoration: none;

    &:hover, &:active {
      background-color: darken($accent-secondary, 10%);
    }

    @media #{$large-up} {
      border-radius: 3px;
    }
  }
}
.footer{
  &--outer {
    background-color: $bg-darkest;
  }
  &--meta {
    // Legal, privacy policy, etc.
    @extend %legal;
  }
  .copyright {
    color: $text-lighter;
  }
  .dc-pride {
    color: $text-medium;
  }
  .dc-flag {
    height: $font-size-nano;
    margin-left: $font-size-nano/2;
  }
}
