// Baseline settings
html {
  color: $text-dark;
  font-family: $body;
  font-size: $font-size-default;
}
body {
  font-size: 1rem;
  line-height: $line-height-baseline;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
p {
  margin: 0 0 1em;
}
// Helpers

%heading {
  font-family: $heading;
}
%heading-section {
  @extend %heading;
  margin: 0.5em 0 0.25em;
}
%details {
  font-size: $font-size-smaller;
}

%cta {
  font-family: $heading;
  text-transform: uppercase;
}
%legal {
  font-size:  $font-size-nano;
}
