@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// sticky footer trick
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrapper {
  flex: 1;
}
