.import {
  @extend %container-fixed;

  &--outer {
    padding: 1rem 0;
  }
  &--heading {

  }
}
.form-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$large-up} {
      flex-direction: row;
  }

  &--chooser {
    cursor: pointer;
    margin: 0 0 1em 0;
    padding: 1em;
    @media #{$large-up} {
        margin: 1em 0;
    }
  }
  &--submit {
    padding: 1em;

    @media #{$large-up} {
        margin: 1em 1em 1em 0;
    }
  }
}
